<% var
pageTitle = "Archakov Dennis";
pageId = "index";
pageUrl = "";
pageDescription = "Awesome site";
%>
<% include _header %>

<div class="grid">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>

<div class="main-block">
	<div class="main-block__bg"></div>

	<div class="main-block__left">
		<div class="main-block__social">
			<ul>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
		</div>
		<div class="main-block__info">
			<h1>Archakov Dennis</h1>
			<div>
				<p>Hello, World! I’m a frontend developer.</p>
				<p>I ❤️ <b>JavaScript</b>, <b>ReactJS</b> and <b>UI design</b>.</p>
				<p><a href="http://github.com/Archakov06">GitHub</a>, <a href="http://behance.com/archakov1">Behance</a>, <a href="http://instagram.com/archakov06">Instagram</a>, <a href="mailto:hello@archakov.im">E-Mail</a></p>
			</div>
		</div>
		<div class="main-block__email">
			<b>E-Mail:</b> <a href="mailto:hello@archakov.im">hello@archakov.im</a>
		</div>
	</div>
</div>
<% include _footer %>

